body {
  background-color: #34B534;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

p {
  font-family: "Lucida Sans Unicode", sans-serif;
  color: black;
}

h1 {
  font-weight: normal;
  font-size: 3em;
}

header {
  background-color: #228B22;
  color: white;
  width: 100%;
  padding-bottom: 10px;
  padding-top: 15px;
  font-family: "Lucida Sans Unicode", sans-serif;
  text-align: center;
}

.content {
  margin: auto;
  width: 60%;
  height: 90%;
  padding-top: 20px;
  background-color: white;
}

.column {
  margin: auto;
  margin-bottom: 0px;
  width: 90%;
  height: 100vh;
  background-color: white;
  font-size: 1.25em;
}

.image1 {
  text-align: center;
  margin-bottom: 0px;
  margin-top: 20px;
}

footer {
  font-size: 1em;
  color: white;
  padding-bottom: 20px;
  text-align: center;
  margin: auto;
  padding-top: 10px;
  width: 100%;
  background-color: #228b22;
}
